node_modules/

test/
tests/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
__tests__/
coverage/
*.config.js
*.config.ts
vite.config.ts
tsconfig.json
tsconfig.dev.json
*.log
.DS_Store
.git
.gitattributes
.gitignore
.npmignore
.github/
.husky/
.editorconfig
.prettierrc
.eslintignore
.eslintrc.js


