{
  "useEditorConfig": false,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": false,
  "semi": true,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "scriptIndent": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5"
}