//-------------------------- font
$f_fixed: var(--ti-font-fixed);
$f_nice: var(--ti-font-nice);
//-------------------------- zIndex
$z-above: 1;
$z-cover: 10;
$z-over: 100;
$z-mask: 1000;
$z-menu: 10000;
$z-top: 999999;
//-------------------------- adjust bar size
$BARSZ: 3px;
$BARLINE: 1px;
//-------------------------------------------------------------
//
//          尺度
//
//-------------------------------------------------------------
@function SZ($sz) {
  //@return $sz * 0.0625rem;
  @return $sz * 1px;
}
//-------------------------------------------------------------
@mixin color-box($name) {
  color: var(--ti-color-#{$name});
  background-color: var(--ti-color-#{$name}-r);
}
@mixin color-box-r($name) {
  color: var(--ti-color-#{$name}-r);
  background-color: var(--ti-color-#{$name});
}
//-------------------------------------------------------------
//
//          控件
//
//-------------------------------------------------------------
@mixin button($name) {
  @include color-box-r($name);
  cursor: pointer;
  padding: SZ(8) SZ(12);
  border-radius: SZ(4);
  user-select: none;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:active {
    @include color-box($name);
  }

  .as-text {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
//-------------------------------------------------------------
//
//          交互
//
//-------------------------------------------------------------
@mixin hover-scale($s: 1.5, $c: secondary, $du: 300ms) {
  cursor: pointer;
  transition: transform $du;
  &:hover {
    transform: scale($s);
    color: var(--ti-color-#{$c});
  }
}
//-------------------------------------------------------------
//
//          布局
//
//-------------------------------------------------------------
@mixin flex($jc: flex-start, $ai: flex-start, $wp: wrap, $ac: stretch) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  align-content: $ac;
  flex-wrap: $wp;
}
@mixin flex-as($j: null, $a: null) {
  @if $j != null {
    justify-content: $j;
  }
  @if $a != null {
    align-items: $a;
    align-content: $a;
  }
}
@mixin flex-center($jc: center, $ai: center, $wp: wrap, $ac: center) {
  @include flex($jc, $ai, $wp, $ac);
}
@mixin flex-full(
  $fx: 1 1 auto,
  $jc: center,
  $ai: stretch,
  $wp: nowrap,
  $ac: stretch
) {
  @include flex($jc, $ai, $wp, $ac);
  flex: $fx;
}
@mixin flex-full-center($fx: 1 1 auto) {
  @include flex-center;
  flex: $fx;
}
@mixin flex-align($jc: flex-start, $ai: stretch, $wp: wrap, $ac: stretch) {
  @include flex($jc, $ai, $wp, $ac);
}
@mixin flex-align-center($jc: flex-start, $ai: center, $wp: wrap, $ac: center) {
  @include flex($jc, $ai, $wp, $ac);
}
@mixin flex-align-nowrap(
  $jc: flex-start,
  $ai: center,
  $wp: nowrap,
  $ac: center
) {
  @include flex($jc, $ai, $wp, $ac);
}
@mixin flex-align-v($jc: flex-start, $ai: stretch, $wp: wrap, $ac: stretch) {
  @include flex($jc, $ai, $wp, $ac);
  flex-direction: column;
}
@mixin flex-align-v-nowrap(
  $jc: flex-start,
  $ai: stretch,
  $wp: nowrap,
  $ac: stretch
) {
  @include flex($jc, $ai, $wp, $ac);
  flex-direction: column;
}
//-------------------------------------------------------------
//
//          字体
//
//-------------------------------------------------------------
@mixin font($fa: $f_nice, $sz: null, $lh: null, $ls: null, $fm: null) {
  @if $fa != null {
    @if $fm != null {
      font-family: $fm, $fa;
    } @else {
      font-family: $fa;
    }
  }
  @if $lh != null {
    line-height: $lh;
  }
  @if $ls != null {
    letter-spacing: $ls;
  }
  @if $sz != null {
    @if adapt == $sz {
      @each $key, $value in $screen-min-widths {
        @media (min-width: $value) {
          font-size: map-get($body-font-sizes, $key);
        }
      }
    } @else {
      font-size: $sz;
    }
  }
}
@mixin font-nice($sz: null, $lh: null, $ls: null, $fm: null) {
  @include font($f_nice, $sz, $lh, $ls, $fm);
}
@mixin font-fixed($sz: null, $lh: null, $ls: null, $fm: null) {
  @include font($f_fixed, $sz, $lh, $ls, $fm);
}
@mixin font-sizes($selector, $sizes: $body-font-sizes) {
  @each $key, $value in $screen-min-widths {
    @media (min-width: $value) {
      #{$selector} {
        font-size: map-get($sizes, $key);
      }
    }
  }
}
//-------------------------------------------------------------
//
//          位置
//
//-------------------------------------------------------------
@mixin pos($l: null, $t: null, $w: null, $h: null, $r: null, $b: null) {
  @if $l != null {
    left: $l;
  }
  @if $t != null {
    top: $t;
  }
  @if $w != null {
    width: $w;
  }
  @if $h != null {
    height: $h;
  }
  @if $r != null {
    right: $r;
  }
  @if $b != null {
    bottom: $b;
  }
}
@mixin pos-abs($l: null, $t: null, $w: null, $h: null, $r: null, $b: null) {
  position: absolute;
  @include pos($l, $t, $w, $h, $r, $b);
}
@mixin pos-fixed($l: null, $t: null, $w: null, $h: null, $r: null, $b: null) {
  position: fixed;
  @include pos($l, $t, $w, $h, $r, $b);
}
@mixin pos-abs-full($pad: 0) {
  @include pos-abs($l: $pad, $r: $pad, $t: $pad, $b: $pad);
}
@mixin pos-fixed-full($pad: 0) {
  @include pos-fixed($l: $pad, $r: $pad, $t: $pad, $b: $pad);
}
//-------------------------------------------------------------
//
//          其他帮助方法
//
//-------------------------------------------------------------
@mixin bg-chessboard(
  $sz: SZ(20),
  $color: var(--ti-color-border-shallow),
  $bg: var(--ti-color-card)
) {
  background-color: $bg;
  background-image:
    linear-gradient(
      45deg,
      $color 25%,
      transparent 25%,
      transparent 75%,
      $color 75%,
      $color
    ),
    linear-gradient(
      45deg,
      $color 26%,
      transparent 26%,
      transparent 74%,
      $color 74%,
      $color
    );
  background-size: $sz $sz;
  background-position:
    0 0,
    calc($sz/2) calc($sz/2);
}
//-------------------------------------------------------------
@mixin __color_by_name($name) {
  &.is-#{$name} {
    color: var(--ti-color-#{$name});
  }

  &.is-#{$name}-r {
    color: var(--ti-color-#{$name}-r);
    background-color: var(--ti-color-#{$name});
  }

  &.is-#{$name}-r a {
    color: var(--ti-color-#{$name}-r);
    &:hover {
      color: var(--ti-color-card);
    }
  }
}

//-------------------------------------------------------------
@mixin colorized() {
  @include __color_by_name(primary);
  @include __color_by_name(secondary);
  @include __color_by_name(success);
  @include __color_by_name(warn);
  @include __color_by_name(info);
  @include __color_by_name(danger);
  @include __color_by_name(track);
  @include __color_by_name(disable);
  @include __color_by_name(text);
  @include __color_by_name(number);
  @include __color_by_name(tip);
  @include __color_by_name(star);
  @include __color_by_name(fog);
}

//-------------------------------------------------------------
@mixin __fontsz($prefix, $sz, $suffix: "") {
  #{$prefix}-#{$sz} #{$suffix} {
    font-size: var(--ti-fontsz-#{$sz});
  }
}
//-------------------------------------------------------------
@mixin aspect_fontsize($prefix, $suffix: "") {
  @include __fontsz($prefix, t, $suffix);
  @include __fontsz($prefix, s, $suffix);
  @include __fontsz($prefix, m, $suffix);
  @include __fontsz($prefix, b, $suffix);
  @include __fontsz($prefix, h, $suffix);
}

//-------------------------------------------------------------
@mixin __gap($prefix, $sz, $suffix: "") {
  #{$prefix}-#{$sz} #{$suffix} {
    gap: var(--ti-gap-#{$sz});
  }
}
//-------------------------------------------------------------
@mixin aspect_gap($prefix, $suffix: "") {
  @include __gap($prefix, t, $suffix);
  @include __gap($prefix, s, $suffix);
  @include __gap($prefix, m, $suffix);
  @include __gap($prefix, b, $suffix);
  @include __gap($prefix, h, $suffix);
}

//-------------------------------------------------------------
@mixin __pad($prefix, $sz, $suffix: "") {
  #{$prefix}-#{$sz} #{$suffix} {
    padding: var(--ti-gap-#{$sz});
  }
}
//-------------------------------------------------------------
@mixin aspect_pad($prefix, $suffix: "") {
  @include __pad($prefix, t, $suffix);
  @include __pad($prefix, s, $suffix);
  @include __pad($prefix, m, $suffix);
  @include __pad($prefix, b, $suffix);
  @include __pad($prefix, h, $suffix);
}

//-------------------------------------------------------------
@mixin __radius($prefix, $sz, $suffix: "") {
  #{$prefix}-#{$sz} #{$suffix} {
    border-radius: var(--ti-measure-r-#{$sz});
  }
}
//-------------------------------------------------------------
@mixin aspect_radius($prefix, $suffix: "") {
  @include __radius($prefix, t, $suffix);
  @include __radius($prefix, s, $suffix);
  @include __radius($prefix, m, $suffix);
  @include __radius($prefix, b, $suffix);
  @include __radius($prefix, h, $suffix);
}

//-------------------------------------------------------------
@mixin __color($name, $prefix) {
  #{$prefix}-#{$name} {
    color: var(--ti-color-#{$name}-r);
    background-color: var(--ti-color-#{$name});
    &:hover {
      background-color: var(--ti-color-#{$name}-b);
    }
  }
}
//-------------------------------------------------------------
@mixin aspect_color($prefix: "&.is") {
  @include __color(primary, $prefix);
  @include __color(secondary, $prefix);
  @include __color(success, $prefix);
  @include __color(warn, $prefix);
  @include __color(info, $prefix);
  @include __color(danger, $prefix);
  @include __color(track, $prefix);
  @include __color(disable, $prefix);
  @include __color(text, $prefix);
  @include __color(number, $prefix);
  @include __color(tip, $prefix);
  @include __color(star, $prefix);
  @include __color(fog, $prefix);
}

//-------------------------------------------------------------
@mixin __color_fborder($name, $prefix) {
  #{$prefix}-#{$name} {
    color: var(--ti-color-#{$name});
    border-color: var(--ti-color-#{$name});
  }
}
//-------------------------------------------------------------
@mixin aspect_color_fborder($prefix: "&.is") {
  @include __color_fborder(primary, $prefix);
  @include __color_fborder(secondary, $prefix);
  @include __color_fborder(success, $prefix);
  @include __color_fborder(warn, $prefix);
  @include __color_fborder(info, $prefix);
  @include __color_fborder(danger, $prefix);
  @include __color_fborder(track, $prefix);
  @include __color_fborder(disable, $prefix);
  @include __color_fborder(text, $prefix);
  @include __color_fborder(number, $prefix);
  @include __color_fborder(tip, $prefix);
  @include __color_fborder(star, $prefix);
  @include __color_fborder(fog, $prefix);
}

//-------------------------------------------------------------
