@use './_all.scss' as *;
@use './color/light' as *;
@use './color/dark' as *;
@use './measure/comfy' as *;
@use './measure/tight' as *;
@use './feature/prefix-suffix-box';
@use './feature/roadblock.scss';
@use './feature/transition.scss';
@use './feature/colorized.scss';

:root {
  @include use_color_theme_light;
  @include use_measure_comfy;
}

:root {
  color-scheme: light dark;
  color: var(--ti-color-body-f);
  background-color: var(--ti-color-body);

  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @include font-nice;
  line-height: 1.5em;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bunya-grid-gap: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--ti-color-bg-body);
  font-size: var(--ti-fontsz-page);
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  //scrollbar-color: var(--ti-color-mask-dark) var(--ti-color-border-shallow);
  scrollbar-color: var(--ti-color-mask-thin) var(--ti-color-border-shallow);
}

input::placeholder {
  color: var(--ti-color-track);
  opacity: 0.6;
  font-style: italic;
  font-size: 0.9em;
}

//...................................................
::-webkit-scrollbar {
  width: var(--ti-measure-scrollbar);
  height: var(--ti-measure-scrollbar);
}
::-webkit-scrollbar-track {
  background-color: var(--ti-color-border-shallow);
}
::-webkit-scrollbar-thumb {
  background-color: var(--ti-color-mask-thin);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--ti-color-primary);
}
//...................................................

html.tight {
  @include use_measure_tight;
}

html.dark {
  @include use_color_theme_dark;
}

html.auto-color-mode {
  @media (prefers-color-scheme: light) {
    @include use_color_theme_light;
  }

  @media (prefers-color-scheme: dark) {
    @include use_color_theme_dark;
  }
}

a {
  cursor: pointer;
  color: var(--ti-color-link);
  text-decoration: none;
  &:hover {
    //color: var(--ti-color-link-hover);
    text-decoration: underline;
  }
}

button {
  color: var(--ti-color-primary-r);
  background-color: var(--ti-color-primary);
  border: 0;
  font-size: inherit;
  border-radius: 0.4em;
  outline: none;
  padding: SZ(6) SZ(8);
  cursor: pointer;
  &:focus,
  &:focus-visible {
    outline: none;
  }
  &:hover {
    color: var(--ti-color-secondary-r);
    background-color: var(--ti-color-secondary);
  }
}

textarea,
input,
select {
  color: var(--ti-color-box-f);
  background-color: var(--ti-color-box);
}

ul.raw {
  list-style: none;
  margin: unset;
  margin-block: unset;
  padding-inline: unset;
}

.no-select {
  user-select: none;
}

.fit-parent {
  width: 100%;
  height: 100%;
}

.cover-parent {
  @include pos-abs-full;
}

.pos-relative {
  position: relative;
}
