.prefix-suffix-box {
  display: grid;
  grid-template-rows: auto;
  //background-color: var(--ti-color-box);
  //----------------------------------------------
  &.has-prefix.has-suffix {
    grid-template-columns: auto 1fr auto;
  }
  &.no-prefix.has-suffix {
    grid-template-columns: 1fr auto;
  }
  &.has-prefix.no-suffix {
    grid-template-columns: auto 1fr;
  }
  &.no-prefix.no-suffix {
    grid-template-columns: 1fr;
  }
  //----------------------------------------------
  > .part-value {
    padding: 0 var(--ti-measure-box-pad);
    font-size: var(--ti-fontsz-box);
    display: grid;
    align-items: center;
  }

  &.is-nowrap > .part-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .as-icon-text {
    @include flex-align-nowrap($ai: stretch);
    user-select: none;
    > .as-icon {
      width: var(--ti-box-icon);
      height: var(--ti-box-icon);
      border-radius: var(--ti-measure-r-s);
    }

    > .as-text {
      @include flex-center;
      padding: 0 SZ(4);
      opacity: 0.7;
      border-radius: var(--ti-measure-r-s);
      white-space: nowrap;
      font-size: 0.8em;
    }

    &.hover-icon > .as-icon {
      cursor: pointer;
      &:hover {
        background-color: var(--ti-color-primary);
        color: var(--ti-color-primary-r);
      }
    }
    &.hover-text > .as-text {
      cursor: pointer;
      &:hover {
        background-color: var(--ti-color-primary-r);
        color: var(--ti-color-primary);
      }
    }

    &.hover-icon {
      > .as-icon.ti-icon.hover-rotate {
        > .part-main {
          transition: 0.3s;
        }
        &:hover > .part-main {
          transform: rotate(360deg);
        }
      }
    }
  }

  &.show-border {
    border: 1px solid var(--ti-color-border-thin);
    border-radius: var(--ti-measure-r-s);

    > .as-icon-text {
      > .as-icon {
        border-radius: 0;
        height: unset;
        &.is-type-font {
          width: var(--ti-measure-box-icon);
        }
        &.is-type-image {
          width: var(--ti-measure-box-height);
        }
      }
      > .as-text {
        border-radius: 0;
      }
    }
  }
}
