/*------------------------------------*/
//
// fade
//
/*------------------------------------*/
.ti-fade-enter-active,
.ti-fade-leave-active {
  transition: opacity 0.3s;
}
.ti-fade-enter-from,
.ti-fade-leave-to {
  opacity: 0;
}
/*------------------------------------*/
// slide left
/*------------------------------------*/
.ti-slide-left-enter-active,
.ti-slide-left-leave-active {
  transition: opacity 0.3s;
  > .trans-box {
    transition: transform 0.3s;
  }
}
.ti-slide-left-enter-from,
.ti-slide-left-leave-to {
  opacity: 0;
  > .trans-box {
    transform: translateX(SZ(-100));
  }
}
.ti-slide-left-enter-to,
.ti-slide-left-leave-from {
  opacity: 1;
  > .trans-box {
    transform: translateX(0);
  }
}
/*------------------------------------*/
// slide right
/*------------------------------------*/
.ti-slide-right-enter-active,
.ti-slide-right-leave-active {
  transition: opacity 0.3s;
  > .trans-box {
    transition: transform 0.3s;
  }
}
.ti-slide-right-enter-from,
.ti-slide-right-leave-to {
  opacity: 0;
  > .trans-box {
    transform: translateX(SZ(100));
  }
}
.ti-slide-right-enter-to,
.ti-slide-right-leave-from {
  opacity: 1;
  > .trans-box {
    transform: translateX(0);
  }
}
/*------------------------------------*/
// slide up
/*------------------------------------*/
.ti-slide-up-enter-active,
.ti-slide-up-leave-active {
  transition: opacity 0.3s;
  > .trans-box {
    transition: transform 0.3s;
  }
}
.ti-slide-up-enter-from,
.ti-slide-up-leave-to {
  opacity: 0;
  > .trans-box {
    transform: translateY(SZ(-100));
  }
}
.ti-slide-up-enter-to,
.ti-slide-up-leave-from {
  opacity: 1;
  > .trans-box {
    transform: translateY(0);
  }
}
/*------------------------------------*/
// slide down
/*------------------------------------*/
.ti-slide-down-enter-active,
.ti-slide-down-leave-active {
  transition: opacity 0.3s;
  > .trans-box {
    transition: transform 0.3s;
  }
}
.ti-slide-down-enter-from,
.ti-slide-down-leave-to {
  opacity: 0;
  > .trans-box {
    transform: translateY(SZ(100));
  }
}
.ti-slide-down-enter-to,
.ti-slide-down-leave-from {
  opacity: 1;
  > .trans-box {
    transform: translateY(0);
  }
}
/*------------------------------------*/
// Zoom
/*------------------------------------*/
.ti-zoom-enter-active,
.ti-zoom-leave-active {
  transition: opacity 0.3s;
  > .trans-box {
    transition: transform 0.3s;
  }
}
.ti-zoom-enter-from,
.ti-zoom-leave-to {
  opacity: 0;
  > .trans-box {
    transform: scale(0.1);
  }
}
.ti-zoom-enter-to,
.ti-zoom-leave-from {
  opacity: 1;
  > .trans-box {
    transform: scale(1);
  }
}
/*------------------------------------*/
//
// Folder down
//
/*------------------------------------*/
.ti-folder-enter-active,
.ti-folder-leave-active {
  transition: 0.3s;
  overflow: hidden;
  height: 2rem;
}
.ti-folder-enter-from,
.ti-folder-leave-to {
  height: 0;
  opacity: 0;
}
/*------------------------------------*/
//
// Speed
//
/*------------------------------------*/

.ti-trans-speed-slow {
  transition-duration: 1s;
}
.ti-trans-speed-normal {
  transition-duration: 0.5s;
}
.ti-trans-speed-fast {
  transition-duration: 0.3s;
}
/*------------------------------------*/
//
// origin
//
/*------------------------------------*/
.ti-trans {
  background-color: red;
  /*------------------------------------*/
  &.speed-slow {
    transition-duration: 0.8s;
    > .trans-box {
      transition-duration: 0.8s;
    }
  }
  &.speed-normal {
    transition-duration: 0.5s;
    > .trans-box {
      transition-duration: 0.5s;
    }
  }
  &.speed-fast {
    transition-duration: 0.3s;
    > .trans-box {
      transition-duration: 0.3s;
    }
  }
  /*------------------------------------*/
  &.origin-free,
  &.origin-center {
    > .trans-box {
      transform-origin: center;
    }
  }
  &.origin-left > .trans-box {
    transform-origin: left;
  }
  &.origin-right > .trans-box {
    transform-origin: right;
  }
  &.origin-bottom > .trans-box {
    transform-origin: bottom;
  }
  &.origin-top > .trans-box {
    transform-origin: top;
  }
  &.origin-left-top > .trans-box {
    transform-origin: left top;
  }
  &.origin-right-top > .trans-box {
    transform-origin: right top;
  }
  &.origin-bottom-left > .trans-box {
    transform-origin: bottom left;
  }
  &.origin-bottom-right > .trans-box {
    transform-origin: bottom right;
  }
  /*------------------------------------*/
}
