.ti-app-modal {
  background-color: var(--ti-color-card);
  box-shadow: SZ(5) SZ(5) SZ(20) var(--ti-color-mask-bushy);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;

  > footer {
    @include flex-align-nowrap($ai: stretch, $jc: flex-end);
    padding: SZ(8);
    background-color: var(--ti-color-bar);
    color: var(--ti-color-bar-f);
    > .at-left {
      flex: 1 1 auto;
      width: 100px;
      overflow: hidden;
    }
  }
}

//-------------------------------------------------------------
@mixin __color_by_name($name) {
  &.is-#{$name} {
    > footer {
      .ti-actionbar > .bar-top-group {
        > .bar-item[item-depth="0"] > .bar-item-head {
          color: var(--ti-color-#{$name}-r);
          background-color: var(--ti-color-#{$name});
          transition:
            background-color 0.5s,
            color 0.3s;
          &:hover {
            color: var(--ti-color-#{$name});
            background-color: var(--ti-color-#{$name}-r);
          }
        }
      }
    }
  }
}
//-------------------------------------------------------------
.ti-app-modal {
  @include __color_by_name(success);
  @include __color_by_name(warn);
  @include __color_by_name(info);
  @include __color_by_name(error);
  @include __color_by_name(track);
  @include __color_by_name(disable);
}
