@mixin use_color_theme_dark {
  /*区域*/
  --ti-color-body: #252525;
  --ti-color-body-f: #ddd;
  --ti-color-card: #000;
  --ti-color-card-f: #eee;
  --ti-color-menu: #222;
  --ti-color-menu-f: #eee;
  --ti-color-bar: #444;
  --ti-color-bar-f: #ddd;
  --ti-color-tab: #333;
  --ti-color-tab-f: #ddd;
  --ti-color-box: #000;
  --ti-color-box-f: #eee;
  --ti-color-mask-heavy: rgba(0, 0, 0, 0.9);
  --ti-color-mask-bushy: rgba(0, 0, 0, 0.7);
  --ti-color-mask-thin: rgba(0, 0, 0, 0.5);
  --ti-color-mask-weak: rgba(0, 0, 0, 0.2);
  /* 边框/线 */
  --ti-color-border-shallow: #333;
  --ti-color-border-thin: #444;
  --ti-color-border-weak: #666;
  --ti-color-border-dark: #888;
  --ti-color-link: #7dc2ff;
  --ti-color-link-hover: #ff0;
  /* 选择/高亮 */
  --ti-color-selected: rgba(255, 255, 0, 0.2);
  --ti-color-selected-f: #ff0;
  --ti-color-highlight: rgba(255, 255, 0, 0.1);
  --ti-color-highlight-f: #fff;
  --ti-color-light: #567;
  --ti-color-dark: #000;
  /* 内容颜色 */
  --ti-color-primary: #58a6e6;
  --ti-color-primary-b: #67a7db;
  --ti-color-primary-r: #00325e;
  --ti-color-secondary: #ff78a5;
  --ti-color-secondary-b: #e783a5;
  --ti-color-secondary-r: #fff;
  --ti-color-success: #4caf50;
  --ti-color-success-b: #5aa55c;
  --ti-color-success-r: #003100;
  --ti-color-warn: #ff8800;
  --ti-color-warn-b: #ec8f23;
  --ti-color-warn-r: #3d3d00;
  --ti-color-info: #00bfbf;
  --ti-color-info-b: #15cece;
  --ti-color-info-r: #005757;
  --ti-color-danger: #f44336;
  --ti-color-danger-b: #e9574d;
  --ti-color-danger-r: #fcc;
  --ti-color-track: #888;
  --ti-color-track-b: #a7a7a7;
  --ti-color-track-r: #313131;
  --ti-color-disable: #797979;
  --ti-color-disable-b: #868686;
  --ti-color-disable-r: #555;
  --ti-color-text: #a25791;
  --ti-color-text-b: #bd7aad;
  --ti-color-text-r: #410031;
  --ti-color-number: #a045e6;
  --ti-color-number-b: #8733c7;
  --ti-color-number-r: #310057;
  --ti-color-tip: #a1a1a1;
  --ti-color-tip-b: #9b9b9b;
  --ti-color-tip-r: #2b2b2b;
}
