@mixin use_color_theme_dark {
  /*区域*/
  --ti-color-body: #252525;
  --ti-color-body-f: #ddd;
  --ti-color-card: #000;
  --ti-color-card-f: #eee;
  --ti-color-menu: #222;
  --ti-color-menu-f: #eee;
  --ti-color-bar: rgba(50, 50, 50, 0.6);
  --ti-color-bar-f: #666;
  --ti-color-tab: #333;
  --ti-color-tab-f: #666;
  --ti-color-box: #000;
  --ti-color-box-f: #eee;
  --ti-color-mask-heavy: rgba(0, 0, 0, 0.9);
  --ti-color-mask-bushy: rgba(0, 0, 0, 0.7);
  --ti-color-mask-thin: rgba(0, 0, 0, 0.5);
  --ti-color-mask-weak: rgba(0, 0, 0, 0.2);
  /* 边框/线 */
  --ti-color-border-shallow: #444;
  --ti-color-border-thin: #585858;
  --ti-color-border-weak: #656565;
  --ti-color-border-dark: #888;
  --ti-color-link: #7dc2ff;
  --ti-color-link-hover: #ff0;
  /* 选择/高亮 */
  --ti-color-selected: rgba(255, 255, 0, 0.2);
  --ti-color-selected-f: #ff0;
  --ti-color-highlight: rgba(255, 255, 0, 0.1);
  --ti-color-highlight-f: #fff;
  --ti-color-light: #567;
  --ti-color-dark: #000;
  /* 内容颜色 */
  --ti-color-primary: #58a6e6;
  --ti-color-primary-b: #67a7db;
  --ti-color-primary-r: #ecf5fd;
  --ti-color-secondary: #ff78a5;
  --ti-color-secondary-b: #e783a5;
  --ti-color-secondary-r: #fff;
  --ti-color-success: #4caf50;
  --ti-color-success-b: #5aa55c;
  --ti-color-success-r: #cfc;
  --ti-color-warn: #ff8800;
  --ti-color-warn-b: #ec8f23;
  --ti-color-warn-r: #ffc;
  --ti-color-info: #2196f3;
  --ti-color-info-b: #3c9be9;
  --ti-color-info-r: #fff;
  --ti-color-danger: #f44336;
  --ti-color-danger-b: #e9574d;
  --ti-color-danger-r: #fcc;
  --ti-color-track: #888;
  --ti-color-track-b: #a7a7a7;
  --ti-color-track-r: #fff;
  --ti-color-disable: #999;
  --ti-color-disable-b: #adadad;
  --ti-color-disable-r: #ccc;
  --ti-color-text: #008800;
  --ti-color-text-b: #0f9c0f;
  --ti-color-text-r: #fff;
  --ti-color-number: #0088ff;
  --ti-color-number-b: #2788dd;
  --ti-color-number-r: #fff;
}
