@mixin use_color_theme_light {
  /*区域*/
  --ti-color-body: #f0f0f0;
  --ti-color-body-f: #000;
  --ti-color-card: #fff;
  --ti-color-card-f: #000;
  --ti-color-menu: #fff;
  --ti-color-menu-f: #000;
  --ti-color-bar: #d0d0d0;
  --ti-color-bar-f: #888;
  --ti-color-tab: #f0f0f0;
  --ti-color-tab-f: #888;
  --ti-color-box: #fff;
  --ti-color-box-f: #000;
  --ti-color-mask-heavy: rgba(0, 0, 0, 0.95);
  --ti-color-mask-bushy: rgba(50, 50, 50, 0.618);
  --ti-color-mask-thin: rgba(50, 50, 50, 0.372);
  --ti-color-mask-weak: rgba(50, 50, 50, 0.1);
  /* 标记 */
  --ti-color-border-shallow: #eee;
  --ti-color-border-thin: #ddd;
  --ti-color-border-weak: #ccc;
  --ti-color-border-dark: #bbb;
  --ti-color-link: #08f;
  --ti-color-link-hover: #ff4081;
  /* 选择/高亮 */
  --ti-color-selected: #def;
  --ti-color-selected-f: #000;
  --ti-color-highlight: rgba(255, 255, 0, 0.2);
  --ti-color-highlight-f: #000;
  --ti-color-light: #fff;
  --ti-color-dark: #b8b8b8;
  /* 内容颜色 */
  --ti-color-primary: #2196f3;
  --ti-color-primary-b: #4aaeff;
  --ti-color-primary-r: #d0e7fc;
  --ti-color-secondary: #ff4081;
  --ti-color-secondary-b: #f86999;
  --ti-color-secondary-r: #ffdae6;
  --ti-color-success: #4caf50;
  --ti-color-success-b: #6ec971;
  --ti-color-success-r: #cfc;
  --ti-color-warn: #ff8800;
  --ti-color-warn-b: #ff9823;
  --ti-color-warn-r: #ffc;
  --ti-color-info: #00bfbf;
  --ti-color-info-b: #15cece;
  --ti-color-info-r: #aefcfc;
  --ti-color-danger: #f44336;
  --ti-color-danger-b: #f16e64;
  --ti-color-danger-r: #fcc;
  --ti-color-track: #888;
  --ti-color-track-b: #a7a7a7;
  --ti-color-track-r: #fff;
  --ti-color-disable: #666;
  --ti-color-disable-b: #aaa;
  --ti-color-disable-r: #ddd;
  --ti-color-text: #a25791;
  --ti-color-text-b: #bd7aad;
  --ti-color-text-r: #ecc4e3;
  --ti-color-number: #7200cc;
  --ti-color-number-b: #8520d3;
  --ti-color-number-r: #cb9fec;
  --ti-color-tip: #222;
  --ti-color-tip-b: #333;
  --ti-color-tip-r: #ddd;
  --ti-color-star: rgb(231, 231, 24);
  --ti-color-star-b: #ee0;
  --ti-color-star-r: #552;
  --ti-color-fog: rgba(0, 32, 50, 0.6);
  --ti-color-fog-b: rgba(0, 32, 50, 0.5);
  --ti-color-fog-r: rgba(0, 32, 50, 0.1);
}
