@mixin use_color_theme_light {
  /*区域*/
  --ti-color-body: #eee;
  --ti-color-body-f: #000;
  --ti-color-card: #fff;
  --ti-color-card-f: #000;
  --ti-color-menu: #fff;
  --ti-color-menu-f: #000;
  --ti-color-bar: #e0e0e0;
  --ti-color-bar-f: #888;
  --ti-color-tab: #f0f0f0;
  --ti-color-tab-f: #888;
  --ti-color-box: #fff;
  --ti-color-box-f: #000;
  --ti-color-mask-heavy: rgba(0, 0, 0, 0.95);
  --ti-color-mask-bushy: rgba(50, 50, 50, 0.618);
  --ti-color-mask-thin: rgba(50, 50, 50, 0.372);
  --ti-color-mask-weak: rgba(50, 50, 50, 0.1);
  /* 标记 */
  --ti-color-border-shallow: #eee;
  --ti-color-border-thin: #ddd;
  --ti-color-border-weak: #ccc;
  --ti-color-border-dark: #bbb;
  --ti-color-link: #08f;
  --ti-color-link-hover: #ff4081;
  /* 选择/高亮 */
  --ti-color-selected: #def;
  --ti-color-selected-f: #000;
  --ti-color-hightlight: rgba(255, 255, 0, 0.2);
  --ti-color-hightlight-f: #000;
  --ti-color-light: #fff;
  --ti-color-dark: #b8b8b8;
  /* 内容颜色 */
  --ti-color-primary: #2196f3;
  --ti-color-primary-b: #258bdf;
  --ti-color-primary-r: #d0e7fc;
  --ti-color-secondary: #ff4081;
  --ti-color-secondary-b: #f86999;
  --ti-color-secondary-r: #fff;
  --ti-color-success: #4caf50;
  --ti-color-success-b: #56a358;
  --ti-color-success-r: #cfc;
  --ti-color-warn: #ff8800;
  --ti-color-warn-b: #f8a03a;
  --ti-color-warn-r: #ffc;
  --ti-color-info: #2196f3;
  --ti-color-info-b: #4fa7ee;
  --ti-color-info-r: #fff;
  --ti-color-danger: #f44336;
  --ti-color-danger-b: #f16e64;
  --ti-color-danger-r: #fcc;
  --ti-color-track: #888;
  --ti-color-track-b: #a7a7a7;
  --ti-color-track-r: #fff;
  --ti-color-disable: rgba(10, 10, 10, 0.1);
  --ti-color-disable-b: #d5d5d5;
  --ti-color-disable-r: rgba(10, 10, 10, 0.4);
  --ti-color-text: #008800;
  --ti-color-text-b: #0f9c0f;
  --ti-color-text-r: #fff;
  --ti-color-number: #0088ff;
  --ti-color-number-b: #2788dd;
  --ti-color-number-r: #fff;
}
